.fl-change-containers-btn-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.fl-change-containers-btn {
    background-color: #f2f2f2;
    color: #444;
    font-weight: 700;
    border: 1px solid #ddd;
    width: 50%;
    white-space: normal;
    padding: .8rem 1rem;
    cursor: pointer;
    font-size: 16px;
}

.fl-change-containers-btn:not(:last-child,:nth-child(2)) {
    border-right: 0;
}

.fl-change-containers-btn.fl-active {
    background-color: white;
    border-bottom: 0;
}

.fl-change-containers-item {
    display: none;
}

.fl-change-containers-item.fl-show {
    display: block;
}

@media (min-width: 992px) {

    .fl-change-containers-btn {
        width: 25%;
    }

    .fl-change-containers-btn:nth-child(2) {
        border-right: 1px;
    }

}