// -ant-collapse-style-
.ant-collapse-style {
    background-color: $white  !important;
}

.ant-collapse-style .ant-collapse-item {
    border-bottom: 0 !important;
} 

.ant-collapse-style  .ant-collapse-header {
    background-color: $lightgrey !important;
    padding: 1rem 1rem 1rem 3rem !important;
    flex-direction: row-reverse;
    position: relative;
    align-items: center !important;
    align-content: center !important;
    font-size: 17px;
    font-family: "Montserrat";
}


.ant-collapse-style  .ant-collapse-header::before {
    content: "\f0fe";
    position: absolute;
    left: 1rem;
    top: calc(50% - 7px);
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    font-family: "FontAwesome";
}

.ant-collapse-style  .ant-collapse-expand-icon {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

// -activation-
.ant-collapse-style .ant-collapse-item-active .ant-collapse-header {
    background-color: $yellow !important;
    color: $white !important;
}

.ant-collapse-style .ant-collapse-item-active .ant-collapse-header::before {
    content: "\f146";
}    

// -the-end-of-ant-collapse-style-