$orange: #fe4e2b;
$transparentforblack: rgba(24,24,24,0);
$black: rgba(24,24,24,1);
$opacitiedblack: rgba(24,24,24,.6);
$lightopacitiedblack: rgba(24,24,24,.4);
$darkblack: #000000;
$verylightgrey: #e7f0f3;
$lightgrey3: #dee2e6;
$lightgrey2: #eff1f3;
$lightgreen: #c1e1d3;
$green: #52ab84;
$green2: #68b593;
$green3: #63b390;
$blue: #0976b4;
$darkgrey: #444444;
$darkgrey2: #444444;


$lightgrey: #f9faff;
$lightgrey2: #f0f3ff;
$lightgrey3: #eeeeee;
$lightgrey4: #f2f2f2;
$darkgrey: #303136;
$lightblue: #7085f7;
$darkblue: #2061e4;
$darkblue2: #3756f7;
$verydarkblue: #003aae;
$black: #333333;
$black2: #30313c;
$black3: #292932;
$black4: #444444;
$black5: #191a1f;
$black6: #0e0e0e;
$white: #ffffff;
$pink: #91a3ff;
$opacitiedGrey: rgba(255, 255, 255, 0.8);
$opacitiedBlack: rgba(12, 12, 12, 0.4);


$yellow: #fbb816;
$lightgrey: #f8f8f8;
$lightgrey2: #d7d3d3;
$opacitiedLightgrey: rgba(176, 175, 175, .5);
$opacitiedLightgrey2: rgba(176, 175, 175, .1);
$opacitiedLightgrey3: rgba(176, 175, 175, .3);
$grey: #777; 
$darkgrey: #4b4b4b;
$darkgrey2: #43494e;
$darkgrey3: #262626;
$darkgrey4: #292929;
$darkgrey5: #484848;
$darkgrey6: #222222;
$opacitiedDarkgrey4: rgba(41, 41, 41, .7);
$black: #1a1a1a;
$black2: #0a0a0a;
$black3: #101010;


$red: #eb0029;
$black: #010f1c;
$lightorange: #e18f31;
$orange: #fb9b2c;
$darkgrey: #545d6a;
// -dot-
$darkgrey2: #4d5765;
// -footer-black-
$darkblack: #010f1c;