
// -bigger-container-
.bigger-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 992px) {
    .bigger-container {
        padding-left: 10.7%;
        padding-right: 10.7%;
    }
}

