
// navbar-animation
.header {
    transition: all .5s;
    background-color: $white;
	z-index: 1000;
}

.header.is-hidden {
    top: -100% !important;  
}

.header.is-scrolled  {
    top: 0 !important;
	background-color: rgba(0, 0, 0, .7) !important;
}

.header.is-scrolled .head-container {
	display: none !important;
}


// the-end-of-navbar-animation


/* navbar-toggler */
@media only screen and (max-width: 991.98px) {

	.navbar-toggler {
		position: relative;
	    width: 25px;
	    height: 25px;
	    line-height: 40px;
	    cursor: pointer;
	    background-color: transparent;
	    border: none;
	    border-radius: 5px;
	    padding: 0 !important;
	    margin-top: 0 !important;
	    border: 0 !important;
	    outline: 0 !important;
		box-shadow: none !important;
	}

	.navbar-toggler-line {
		position: relative;
	    display: block;
	    margin: auto;
	    transition: 0.3s all ease;
	} 

	.navbar-toggler-line::before,
	.navbar-toggler-line,
	.navbar-toggler-line::after {
		width: 25px;
	    height: 3.2px;
	    background-color: $white;
	    backface-visibility: hidden;
	    border-radius: 0;
	}

	.navbar-toggler-line::before,
	.navbar-toggler-line::after {
		content: "";
	    position: absolute;
	    left: 0;
	    top: -8px;
	    transition: all 0.3s ease;
	}   

	.navbar-toggler-line::after {
		top: 8px;
	}

	@media (hover: hover) {
		.navbar-toggler:hover .navbar-toggler-line::before,
		.navbar-toggler:hover .navbar-toggler-line,
		.navbar-toggler:hover .navbar-toggler-line::after {
			background-color: #e3e2e2;
		}
	}	

	.navbar-toggler:active .navbar-toggler-line::before,
	.navbar-toggler:active .navbar-toggler-line,
	.navbar-toggler:active .navbar-toggler-line::after {
		background-color: #e3e2e2;
	}	

	.navbar-toggler[aria-expanded="true"] .navbar-toggler-line::before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    transform-origin: 50% 50%;
	    top: 0;
	}

	.navbar-toggler[aria-expanded="true"]  .navbar-toggler-line {
		background: transparent !important;
	    transition: background 0.1s ease;
	}

	.navbar-toggler[aria-expanded="true"]  .navbar-toggler-line::after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    transform-origin: 50% 50%;
	    top: 0;
	}

	// -mobile-navbar-collapse-
	.mobile-navbar-collapse {
		background-color: $darkgrey3;
		position: absolute;
		top: 100%;
		left: -100%;
		opacity: 0;
		padding: 0 !important;
		width: 100% !important;
		margin: 0;
		transition: all .5s;
		max-height: 100vh;
		overflow: auto;
	}

	.mobile-navbar-collapse.show {
		left: 0;
		opacity: 1;
	}

}	

/* the-end-of-navbar-toggler */ 






