// -grey-arrow-indicator-
.grey-arrow-indicator {
    position: relative;
}

.grey-arrow-indicator::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    border: 1rem solid $lightgrey;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
