// slider-progress-line
.slider-progress-line {
    background-color: $white;
    position: absolute;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-duration: 6s;
  	animation-delay: 0s;
	animation-name: none;
}

.slider-progress-line.show {
	animation-name: sliderProgressLine;
}

@keyframes sliderProgressLine { 
	from { width: 0; } 
	to { width: 100%; } 
}

// -slider-spacing-sm-
.slider-spacing-sm .slick-slide > div {
	margin: 0 .8rem !important;
}

.slider-spacing-sm .slick-list {
	margin: 0 -.8rem !important;
}

/* -slider-arrows- */
.slider-arrows .slick-arrow::before {
	cursor: pointer;
	color: $orange;
	border: 2px solid $yellow;
	color: $yellow;
	width: 28px;
	height: 28px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	opacity: 1;
	font-family: "FontAwesome";
}

.slider-arrows .slick-arrow {
	position: absolute !important;
	top: -5rem;
	left: initial;
}

.slider-arrows .slick-arrow.slick-disabled::before {
	color: $lightgrey2 !important;
	border-color: $lightgrey2 !important;
}

.slider-arrows .slick-prev {
	right: 41px;
	z-index: 5;
}

.slider-arrows .slick-next {
	right: 6px;
	z-index: 5;
}

.slider-arrows .slick-prev::before {
	content: "\f053";
}

.slider-arrows .slick-next::before {
	content: "\f054";
}

@media (max-width: 575.98px) {
	.slider-arrows .slick-arrow {
		display: none !important;
	}		
}
/* the-end-of-slider-arrows */


/* -slider-arrows-2 */
.slider-arrows-2 .slick-arrow::before {
	cursor: pointer;
	color: $white;
	background-color: $darkgrey;
	width: 28px;
	height: 28px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	opacity: 1;
	font-family: "FontAwesome";
	transition: background-color .3s;
}

@media (hover: hover) {
	.slider-arrows-2 .slick-arrow:hover::before {
		background-color: $yellow;
	}
}

.slider-arrows-2 .slick-arrow:active::before {
	background-color: $yellow;
}

.slider-arrows-2 .slick-arrow.slick-disabled::before {
	visibility: hidden;
}

.slider-arrows-2 .slick-prev {
	left: 0;
	z-index: 5;
}

.slider-arrows-2 .slick-next {
	z-index: 5;
	right: 8px;
}

.slider-arrows-2 .slick-prev::before {
	content: "\f053";
}

.slider-arrows-2 .slick-next::before {
	content: "\f054";
}

/* the-end-of-slider-arrows-2 */


// -slider-img-dots-
.slider-img-dots .slick-dots li {
    width: 23.7% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.slider-img-dot {
	outline-offset: 0;
	transition: all .3s;
}

@media (hover: hover) {
	.slider-img-dot:hover {
		outline: 2px solid $yellow;
	}
}

.slick-active .slider-img-dot,
.slider-img-dot:active {
	outline: 2px solid $yellow;
}







