.yellow-color {
    color: $yellow !important;
}

// -yellow-color-on-hover-
@media (hover: hover) {
    .yellow-color-on-hover:hover {
        color: $yellow !important;
    }
}

.yellow-color-on-hover:active,
.yellow-color-on-hover.active {
    color: $yellow !important;
}

// -white-color-on-hover-
@media (hover: hover) {
    .white-color-on-hover:hover {
        color: $white !important;
    }
}

.white-color-on-hover:active,
.white-color-on-hover.active {
    color: $white !important;
}

.red-color {
    color: red !important;
}

.black-color {
    color: $black !important;
}

.white-color {
    color: $white !important;
}

.darkgrey-color {
    color: $darkgrey !important;
}

.darkgrey-color-2 {
    color: $darkgrey5 !important;
}